body{
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 15% 100vh auto;
}


.logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.imgLogo {
  margin: 5px 5px 0 5px;
  padding: 5px 0 0 0;
}

.h1Logo>a {
  color: #ffd000;
  font-size: 3rem;
  padding: 5px 0;
}

.h1Logo>a:hover{
  color: #b1b1b1;
  transition: 0.25s;
}

.members {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  height: calc(100vh - 10%);
  justify-items: center;
}

.imgDiv1{
  grid-column: 1;
  grid-row: 1;
}

.imgDiv2:nth-child(2){
  grid-column: 2;
  grid-row: 1
}

.imgDiv3:nth-child(3){
  grid-column: 3;
  grid-row: 1
}

.imgDiv4:nth-child(4){
  grid-column: 1;
  grid-row: 2
}

.imgDiv5:nth-child(5){
  grid-column: 3;
  grid-row: 2;
  cursor: pointer;
}

