body{
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 15% 100vh auto;
}


.logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.imgLogo {
  margin: 5px 5px 0 5px;
  padding: 5px 0 0 0;
  width: 80px;
}

.h1Logo>a {
  color: #ffd000;
  font-size: 3rem;
  padding: 5px 0;
}

.h1Logo>a:hover{
  color: #b1b1b1;
  transition: 0.40s;
  transition-delay: 15ms;
}

.members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: calc(100vh - 10%);
  justify-items: center;
  align-items: center;
  padding: 2%;
}

.imgDiv1{
  grid-column: 1;
  grid-row: 1;
}

.imgDiv2:nth-child(2){
  grid-column: 3;
  grid-row: 2;
}

.imgDiv3:nth-child(3){
  grid-column: 5;
  grid-row: 1;
}

.imgDiv4:nth-child(4){
  grid-column: 1;
  grid-row: 3;
}

.imgDiv5:nth-child(5){
  grid-column: 5;
  grid-row: 3;
  cursor: pointer;
}

img:hover{
  transition: 0.6s;
  transition-delay: 8ms;
  transform: scale(1.1);
}