body {
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 8% 78vh auto;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.imgLogo {
  margin: 5px 5px 0 5px;
  padding: 5px 0 0 0;
}

.h1Logo > a {
  color: #ffd000;
  font-size: 3rem;
  padding: 5px 0;
}

.h1Logo > a:hover {
  color: #b1b1b1;
  transition: 0.25s;
}

.boxLogin {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-auto-columns: auto;
}

.innerBox {
  display: grid;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1em #faec7f, 0 0 1em #ffd000;
  border-radius: 35px;
  width: 30%;
  justify-items: center;
}

.login {
  text-align: center;
}

.login h1 {
  color: #b1b1b1;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1rem;
}

.login input[type="text"],
.login input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffd000;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #b1b1b1;
  border-radius: 24px;
  transition: 0.25s;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  width: 280px;
  border-color: #ffd000;
}

#loginUserBtn {
  padding: 10px 30px 10px 30px;
  color: #ffd000;
  margin: 0.9rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  border-color: #ffd000;
}

#loginUserBtn:hover {
  color: #16161f;
  background: #ffd000;
  transform: scale(1.1);
  transition: 0.6s;
  transition-delay: 8ms;
}

.login-senha {
  color: #b1b1b1;
  align-items: center;
  left: 40%;
}

.aLogin {
  text-decoration: none;
  color: #b1b1b1;
}

.aLogin:hover {
  color: #ffd000;
}

.footlogin {
  grid-area: footer;
}
