body {
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 10% 100vh auto;
}

.navFont {
  font-family: "Fjalla One", sans-serif;
  font-size: 28px;
}

.bg {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
