body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #16161f, #111014, #000000);
  background: linear-gradient(to right, #16161f, #111014, #000000);
  font-family: "Fjalla One", sans-serif;
}

.logoTxt {
  font-size: 2rem;
  color: #ffd000 !important;
}

.logoTxt:hover{
  transform: scale(1.1);
  transition: 0.6s;
  transition-delay: 8ms;
  color: #8c8c8c !important;
}

.logoIcon {
  width: 40px;
  margin: 5px;
}

.navFont {
  font-family: "Fjalla One", sans-serif;
  font-size: 25px;
}

.txtNavBar {
  color: #8c8c8c !important;
}

.txtNavBar:hover {
  color: #ffd000 !important;
}

.logoIcon {
  width: 40px;
  margin: 5px;
}

.searchDivForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-end;
  align-items: baseline;
}

.myBtn {
  border-color: #ffd000;
  color: #ffd000;
  border-radius: 10px;
}

.myBtn:hover {
  background-color: #ffd000;
  border-color: #b1b1b1;
  color: #111014;
}

.myInput {
  border: 0;
  outline: none;
  display: block;
  border-radius: 5px;
  color: #b1b1b1;
  background-color: #111014;
}

main {
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchDivBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.boxForm {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div > h1 {
  font-size: 3rem;;
  color: #b1b1b1;
  padding: 5px;
}

.bg {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

input {
  width: 300px;
  background-color: #3a383d;
  border: 0;
  outline: none;
  display: block;
  padding: 15px;
  border-radius: 5px;
  color: #b1b1b1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd000;
  width: 60px;
  margin: 2px;
  border: #111014;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover{
  transform: scale(1.1);
  transition: 0.4s;
  transition-delay: 8ms;
}

section.movieRes {
  display: flex;
  justify-content: center;
}

.boxMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10%;
}

.moviesPic {
  background-color: #ffd000;
  width: 270px;
  height: 400px;
  border-radius: 58px;
  padding: 15px;
  margin: 15px;
  transition: 0.4s;
  cursor: pointer;
}

#movieRes{
  width: 100%;
  height: 75%;
  border-radius: 50px;
  object-fit: cover;
}

h3{
  margin-top: 3%;
  text-align: center;
  font-size: 1.5rem;
}

h3:hover{
  color: #111014;
}

.moviesPic:hover{
  transform: scale(1.1);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  text-indent: -0.7rem;
}

.list::before {
  content: "🦉";
}

a {
  text-decoration: none;
  color: #8c8c8c;
}

a:hover {
  color: orangered;
}

.footer {
  grid-area: footer;
}

.footcopy {
  color: white;
}
