body {
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 8% 100vh auto;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.imgLogo {
  margin: 5px 5px 0 5px;
  padding: 5px 0 0 0;
}

.h1Logo>a {
  color: #ffd000;
  font-size: 3rem;
  padding: 5px 0;
}

.h1Logo>a:hover{
  color: #b1b1b1;
  transition: 0.25s;
}

main{
  grid-area: main;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formDiv {
  position: relative;
  width: 50%;
  max-width: 1020px;
  height: 50%;
  background-color: rgba(0,0,0,0.3);
  box-shadow: inset 0 0 1em #faec7f, 0 0 1em #FFD000;
  border-radius: 3.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

div>h2{
  color: #b1b1b1;
  padding: 1%;
}

div>p{
  color: aliceblue;
}

input#emailTxt {
  width: 500px;
  margin: 2%;
  border: 0;
  outline: none;
  display: block;
  border-radius: 5px;
  color: #b1b1b1;
  background-color: #111014;
}

.divButton {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#button{
  background-color: #111014;
  border:0; 
  border-radius: 10px;
  width: 150px;
  color: #b1b1b1;  
  padding: 10px;  
}

#button:hover{
  box-shadow: inset 0 0 1em #faec7f, 0 0 1em #FFD000;
}


