body {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 5% 100vh auto;
  background: #0f0c29; 
  background: -webkit-linear-gradient(
    to right,
    #16161f,
    #111014,
    #000000
  );
  background: linear-gradient(
    to right,
    #16161f,
    #111014,
    #000000
  ); 
  font-family: 'Fjalla One', sans-serif;
}

main{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formDiv {
  position: relative;
  width: 50%;
  max-width: 1020px;
  height: 50%;
  background-color: rgba(0,0,0,0.3);
  box-shadow: inset 0 0 1em #ac7878, 0 0 1em rgb(236, 65, 65);
  border-radius: 3.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

div>h2{
  color: #b1b1b1;
  padding: 1%;
}

div>p{
  color: aliceblue;
}

input#emailTxt {
  width: 500px;
  margin: 2%;
  border: 0;
  outline: none;
  display: block;
  border-radius: 5px;
  color: #b1b1b1;
  background-color: #111014;
}

.divButton {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#button{
  background-color: #111014;
  border:0; 
  border-radius: 10px;
  width: 150px;
  color: #b1b1b1;  
  padding: 10px;  
}

#button:hover{
  box-shadow: inset 0 0 1em #ac7878, 0 0 1em rgb(236, 65, 65);
}

.logo{
  padding: 1rem 2rem;
  position: fixed;
}

.bg{
  background-color: rgba(0,0,0,0.2);
  padding: 1rem;
}

ul{  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li{
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  text-indent: -0.7rem;
}

li::before{

  content: "🦉";
}

a{
  text-decoration: none;
  color: #8C8C8C;
}

a:hover{
  color: orangered;
}

.footer {
  grid-area: footer;
}

.footcopy {
  color: white;
}
