body{
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 2% 100vh auto;
}

main{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formSize{
  width:800px;
}

.box{
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 600px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 3.3rem;
}

.innerBox{
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registrerForm{
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.2);
  border-radius: 2rem;
  box-shadow: inset 0 0 1em #faec7f, 0 0 1em #FFD000;
}

.logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.imgLogo {
  padding: 5px;
}

h1>a{
  color: #FFD000;
}

.pRegister {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 2px;
  font-size: 1.5rem;
}

.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1%;
  align-items: center;
  justify-content: space-evenly;
}

input#nameTxt {
  width: 500px;
}

.second{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1%;
  align-items: center;
  justify-content: space-evenly;
}

input#emailTxt {
  width: 500px;
}

.third{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1%;
  align-items: center;
  justify-content: space-evenly;
}

.fourth{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1%;
  align-items: center;
  justify-content: space-evenly;
}

input#ruaText {
  width: 730px;
}

.fifth{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1%;
  align-items: center;
  justify-content: space-evenly;
}

.box input[type ="text"], .box input[type ="password"], .box input[type ="email"]{
  border: 0;
  outline: none;
  display: block;
  border-radius: 5px;
  color: #b1b1b1;
  background-color: #111014;
}

.divButton{
  display: flex;
  justify-content: center;
}

#button{
  background-color: #111014;
  border:0; 
  border-radius: 10px;
  width: 150px;
  color: #b1b1b1;  
  padding: 10px;  
}

#button:hover{
  box-shadow: inset 0 0 1em #ffffff, 0 0 1em #FFD000;
}



