body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #16161f,
    #111014,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #16161f,
    #111014,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* .bg-dark{
  background-color: #aba8c9;
} */


.navFont{
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;
}

.carouselImg {
  object-fit: cover;
  height: 600px;
}

.bg{
  background-color: rgba(0,0,0,0.2);
  padding: 1rem;
}

.bg{
  background-color: rgba(0,0,0,0.2);
  padding: 1rem;
}

ul{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li{
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  text-indent: -0.7rem;
}
li::before{

  content: "🦉";
}

a{
  text-decoration: none;
  color: #8C8C8C;
}

a:hover{
  color: orangered;
}

.footer {
  grid-area: footer;
}

.footcopy {
  color: white;
}



