@media (max-width: 1024px) {
  body {
    grid-template-rows: 8% 100vh auto;
  }
  .innerBox {
    width: 80%;
    height: 38rem;
    justify-items: center;
  }

  .login h1 {
    font-size: 5em;
  }

  .login input[type="text"],
  .login input[type="password"] {
    width: 400px;
    font-size: 3em;
  }

  #login {
    padding: 15px 35px 15px 35px;
    border-radius: 34px;
    font-size: 2em;
  }

  .login-senha {
    font-size: 2em;
  }
}

@media (max-width: 700px) {
  .innerBox {
    /* width: 40%; */
    height: 25rem;
    justify-items: center;
    display: grid;

    width: 100%;
    justify-items: center;
  }
  .boxLogin {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-auto-columns: auto;
  }

  .login h1 {
    font-size: 2em;
  }

  .login input[type="text"],
  .login input[type="password"] {
    width: 200px;
    font-size: 1em;
  }

  #login {
    padding: 15px 35px 15px 35px;
    border-radius: 34px;
    font-size: 1em;
  }

  .login-senha {
    font-size: 1em;
  }
}
